@model IEnumerable<EditableExampleModel>
@{
    ViewBag.Title = "Index";
    var letters = (IEnumerable<string>)ViewBag.Letters;
    var currentLetter = (string)ViewBag.Letter;
}

<table class="table">
    <tr>
        @foreach (var item in letters)
        {
            if (item == currentLetter)
            {
                <th>
                    @item
                </th>
            }
            else
            {
                <th>
                    @Html.ActionLink(item, "Index", new { id = item })
                </th>
            }
        }
    </tr>
</table>


<h2>@Model.Count() @Html.ActionLink("xlsx", "Export",  new { id = currentLetter })</h2>
<table class="table">
    @foreach (var item in Model)
    {   
        <tr>
            <td>
                <a id="@item.Id" class="anchor" />
                @Html.ActionLink(item.Id, "Edit",  new { id = item.Id })
            </td>
            <td>
                @Html.RenderWikiMarkup(item.ArticleName)
            </td>
            <td>
                @if (item.Checked)
                {
                    <text>✅</text>
                }
                else
                {
                    <text>❌</text>
                }
                @Html.RenderWikiMarkup(item.Text)
                <br />
                <small style="color:grey">@item.Translation 
                    @if (item.Literal is not null) 
                    { 
                        <text>(</text>
                        @item.Literal
                        <text>)</text>
                    }
                </small>
            </td>            
        </tr>
    }
</table>

